/** GENERAL STYLES
*/

html {
    background-color: #F50F50;
    height: 100%;
    width: 100%;
}


/** POSITIONING
*/

.outer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 450px;
    transform: translateY(-50%);
}


/** MENU
*/

.menu {
    position: absolute;
    bottom: 85%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 702px;
}

.menu ul {
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin-left: -5px;
}

.menu li {
    display: inline;
}

.menu li a {
    text-decoration: none;
    color: #FDCFDC;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
    letter-spacing: -1px;
}

.menu li a:hover {
    color: white;
}

/** FLIP ANIMATION
*/

.flip-container {
    perspective: 1000;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    transform: translateX(-28%);
}

.flipped {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 450px;
    height: 450px;
}

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-color: aqua;
}

.back {
    transform: rotateY(180deg);
    background-color: red;
}


/** FRONT COVER
*/

.vinyl-cover {
    background: #363636 url("../img/static-cover.png") no-repeat;
    background-size: cover;
    /* shadow */
    -moz-box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.cover-wrapper {
    margin-top: 63%;
    transform: translateY(-60%);
    margin-left: 20px;
    margin-right: 20px;
}

.cover-text {
    /* text styling */
    text-align: left;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    /* layout */
    background-color: transparent;
    padding: 10px 10px 3px 0;
    color: white;
    border: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    /* border */
    border-bottom: 4px solid white;
}

.cover-btn {
    text-align: center;
    margin-top: 10px;
    width: 125px;
    height: 30px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    background: transparent url("../img/download-btn.svg") no-repeat right top;
}

.cover-btn:hover {
    background-color: #CECECE;
}

.cover-btn:active {
    background-color: #CECECE;
}

.colours {
    background: #FA5A3A url("../img/colours.gif") no-repeat left top;
    background-size: cover;
}

.closed {
    transform: none !important;
    transition: 1s;
}


/** BACK COVER 
*/

.vinyl-back {
    background-color: #363636;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    /* shadow */
    -moz-box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 8px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.left {
    text-align: right;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-right: 10px;
}

.right {
    text-align: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    float: left;
    padding-left: 10px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.back-list {
    margin-top: 30%;
}

.back-header {
    color: #9d9a9b;
    margin: 0;
    font-size: 16px;
}

.back-entry {
    color: #F3F3F3;
    margin: 0;
}

.back-claimer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
    color: #9d9a9b;
    font-size: 9px;
    text-align: center;
    line-height: 8px;
}

.back-sticker {
    position: absolute;
    bottom: 40px;
}

.sticker-barcode img {
    width: 40%;
}

.sticker-logo img {
    width: 40%;
}


/** VINYL PLATE
*/

.vinyl-plate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    transform: translateX(28%);
}

.vinyl-plate img {
    width: 100%;
}


/** PLACEHOLDER COLOUR
*/

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

:placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: white;
}

/** 404 PAGE
*/

.error-wrapper {
    position: absolute;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.error-wrapper h1 {
    font-weight: 500;
    font-size: 55px;
    padding: 0;
    margin: 0;

}

.error-wrapper h3 {
    font-weight: 200;
    padding: 0;
    margin: 0;
}

/** DISABLE FOCUS
*/

*:focus {
    outline: none;
}